In [2]:
# importation libraries
import numpy as np
import pandas as pd

In [3]:
# creation tableau marathon
data = pd.read_table("marathon.txt", names = ["ville","année","temps","secondes","estPARIS","estBERLIN"])
data

       ville  année     temps  secondes  estPARIS  estBERLIN
0      PARIS   2011  02:06:29      7589       NaN        NaN
1      PARIS   2010  02:06:41      7601       NaN        NaN
2      PARIS   2009  02:05:47      7547       NaN        NaN
3      PARIS   2008  02:06:40      7600       NaN        NaN
4      PARIS   2007  02:07:17      7637       NaN        NaN
..       ...    ...       ...       ...       ...        ...
354  CHICAGO   2006  02:07:35      7655       NaN        NaN
355  CHICAGO   2007  02:11:11      7871       NaN        NaN
356  CHICAGO   2008  02:06:25      7585       NaN        NaN
357  CHICAGO   2009  02:05:41      7541       NaN        NaN
358  CHICAGO   2010  02:06:23      7583       NaN        NaN

[359 rows x 6 columns]

In [4]:
# boucle pour définir si la ville est présente.Si elle est présente donc 1 dans estPARIS ou estBERLIN sinon 0 selon condition
for i in range (len(data.ville)):
    if data.ville[i] == "PARIS":
        data.estPARIS[i] = 1
        data.estBERLIN[i] = 0
    elif data.ville[i] == "BERLIN":
        data.estBERLIN[i] = 1
        data.estPARIS[i] = 0
    else:
        data.estPARIS[i] = 0
        data.estBERLIN[i] = 0
        
print(data.head(n=3))

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estPARIS[i] = 1
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estBERLIN[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estBERLIN[i] = 1
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estPARIS[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estPARIS[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_6468\2037176060.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.estBERLIN[i] = 0

   ville  année     temps  secondes  estPARIS  estBERLIN
0  PARIS   2011  02:06:29      7589       1.0        0.0
1  PARIS   2010  02:06:41      7601       1.0        0.0
2  PARIS   2009  02:05:47      7547       1.0        0.0

In [5]:
# tableau matrix
y = np.matrix(data[['secondes']])
x = np.matrix(data[['année','estPARIS','estBERLIN']])
A = (x.T*x).I * x.T*y
A

matrix([[  3.98807104],
        [-13.47591572],
        [-23.91576442]])

In [6]:
# Coef demandé = a0,a1,a2
print("Les coef a0 = {0} , a1 = {1} , a2 = {2}".format (A[0,0] , A[1,0] , A[2,0]))

Les coef a0 = 3.98807104335788 , a1 = -13.475915722747445 , a2 = -23.9157644168927